				<div>
					<div class="meta">
					<p class="author">
						{{#author}}
							<a href='/author/"{{.}}"'>{{.}}</a>
						{{/author}}
					</p>
					<p class="tags">
						{{#tags}}
							<a href='/tag/"{{.}}"'>{{.}}</a>
						{{/tags}}
					</p>
					</div>
					<div class="clear"></div>
					<div class="content">
					<p class="title"><a href='/paper/"{{name}}"'>{{name}}</a></p>
					<p>{{abstract}}</p>
					</div>
				</div>
