{{>header}}
<div id="papers">
{{#paper}}
{{>paper}}
{{/paper}}
</div>

{{#comments}}
<div class="comment">
	<p class="author">{{author}}</p>
	<p>{{content}}</p>
	<div class="clear"></div>
</div>
{{/comments}}

<div id="add_comment">Ajout d'un commentaire</div>

<script src="{{assets}}/vendor/couchapp/loader.js"></script>
<script type="text/javascript" charset="utf-8">
	$.couch.app(function(app) {
		$("#add_comment").evently("add_comment", app);
	});
</script>
	
{{>footer}}
