body {
	background-color: #fff;
	margin: 0;
	font-family: "Trebuchet", "Deja Vu Sans",  sans-serif;
}

a { color: black; }

/* General Layout */

#page {
	width: 80%;
	background-color: white;
	margin: 0 auto;
	border: 1px solid #333;
}

/* Local style */

/* Head */

/* Head list */
#head {
	background-color: #48a311;
	color: #2e2d2d;
	font-weight: bold;
}

h1 {
	font-size: 4em;
	margin: 0;
	padding-left: 10px;
	text-align: center;
}

#head a {
	color: #2e2d2d;
	text-decoration: none;
}

#head ul {
	margin: 0;
	padding: 0;
}

#head ul li {
	float: left;
	list-style: none;
	padding: 5px 2em;
	margin: 5px;
}

#head ul a { color: white; }

/* Paper list */
#papers {
	margin: 8px;
}
#papers > div {
	border: 1px solid black;
	background-color: #eee;
	margin: 1em;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

/* Paper style */

.clear {
	clear: both;
}

#papers .meta {
	background-color: #444;
	height: 2em;
}

#papers .meta a { color: white; }

#papers div .author {
	float: left;
	margin: 5px;
}

#papers div .tags {
	float: right;
	margin: 5px;
}

.content {
	padding: 0.5em;
	text-align: justify;
}

#papers .title {
	font-size: 1.5em;
	text-align: center;
}

/* Comments */
.comment {
	width: 80%;
	margin: 1em auto;
	border: 1px solid black;
}

.comment > .author {
	width: 120px;
	height: 120px;
	float: left;
	border: 1px solid black;
}

#add_comment {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
}
